nav {
margin-top: 0 px;
margin-bottom:0px;
background-color: #CC3300;
padding: 20px;
font-size: 18pt;
height: 30px;
}
nav li {
display: inline;
padding: 15px;
}
nav li a {
 text-decoration: none;
 }
 nav li a:hover {
 background-color: gray;
 }
a: hover {
background-color: grey;
}
body {
background-color: #FFE066; 
text-color: #4C4C4C;
}
h1 {
color: rgb(123,47,130);
}
h2 {
color: #5C8533;
}