nav {
margin-top: 0 px;
margin-bottom:0px;
background-color: #CC3300;
}
nav li {
display: inline;
}
nav li a {
 text-decoration: none;
 }
header a {
text-decoration: none;
}
a: hover {
background-color: grey;
}
body {
background-color: #FFE066; 
text-color: #4C4C4C;
}
h1 {
color: rgb(123,47,130);
}
h2 {
color: #5C8533;
}