header {
position: fixed;
top: 0px;
left: 0px;
width: 100%;
font-size: 16pt;
padding:10px;
background-color: #00CC99;
margin-top: 0px;
z-index: 1;
}
header a {
text-decoration:none;
color: gray;
}
header a:hover {
background-color: #E0E0E0;
}
nav {
position: relative;
top: 35px;
left: -10px;
width: 100%;
margin-top: 0 px;
margin-bottom:0px;
background-color: #CC3333;
padding: 3px;
padding-left:350px;
padding-right:100px;
font-size: 14pt;
}
nav li {
display: inline;
padding: 50px;
}
nav li a {
 text-decoration: none;
 color: #383838;
 }
 nav li a:hover {
 background-color: #E0E0E0;
 }
a: hover {
background-color: grey;
}
body {
background-color: #FFE066; 
text-color: #4C4C4C;
}
h1 {
color: #5C8533;
}
h2 {
color: #5C8533;
}
section {
float:left;
position: relative;
top:35px;
left:-10px;
width: 15%;
overflow: auto;
border: 5px solid black;
padding: 10px;
background-color: #FFCC66;
}
aside {
float: right;
position: relative;
top: 100px;
left:-40px;
width:75%;
overflow: auto;
}
img.zebra {
float: center;
top: 0px;
left: 100px;
}
