main {
position: relative;
top: 20px;
left: 350px;
background-color: #0099CC;
width: 500px;
height:300px;
overflow: auto;
}
aside {
position: relative;
top: 100px;
left: 450px;
}
h1 {
position: relative;
left: 500px;
}
main ul {
list-style: none;
}
body {
background-color: #66DDAA;
}
.done {
text-decoration: line-through;
}
.high {
color: red;
}
.medium {
color: orange;
}
.low {
color: green;
}